#Домашнє завдання до теми "Синтаксис Python"

В ДЗ першого модулю важливою умовою виконання завдань є те, що ми не імпортуємо жодних бібліотек, а робимо все на чистому Python, використовуючи лише базовий функціонал. Це необхідно аби відпрацювати роботу з базовими типами даних. А використовувати бібліотеки ми ще навчимось далі :)

1. Створіть змінну, яка буде зберігати кількість яблук. І надайте їй значення 5. Виведіть значення змінної на екран.

In [ ]:
 appl_amount = 5

5

In [ ]:
appl_amount

5

2. Виведіть тип змінної, створеної в завданні (1).

In [ ]:
type(appl_amount)

int

3. Додайте до значення змінної, створеної в завданні (1) число `12` і виведіть результат на екран з допомогою команди `print()`.

In [ ]:
result = 5 + 12
print(result)

17

4. Запустіть код нижче аби створити дві змінні.

In [2]:
a = 48
b = 3

Створіть нову клітинку нижче цієї з допомогою натискання англійської літери `B`, коли ви НЕ в режимі редагування клітинки. В створеній клітинці створіть змінну `c`, яка буде містити результат ділення `a` на `b`.

In [4]:
c = a / b

In [17]:
print("Variable a =", a, "and has type", type(a))
print("Variable b =", b, "and has type", type(b))
print("Variable c =", c, "and has type", type(c))

Variable a = 48 and has type <class 'int'>
Variable b = 3 and has type <class 'int'>
Variable c = 16.0 and has type <class 'float'>

Створіть ще одну нову клітинку, тільки тепер вище цієї. Для цього натисніть  англійську літеру `A`, коли ви НЕ в режимі редагування клітинки. Виведіть в новоствореній клітинці значення і тип кожної зі змінних `a`, `b`, `c`. Проаналізуйте результат.

У Python, коли ви ділите одне ціле число на інше, результат буде автоматично приведений до типу float, якщо він не є цілим числом. Це робиться для того, щоб забезпечити більш точний результат ділення, особливо коли результат міг би бути десятковим числом.

5. Перегляньте наступний код, подумайте, що він виведе в результаті, та потім, запустіть його.

In [18]:
a = 10
a = 12
a = 15

b = 4
b = 8
b = 14

c = 3
c = 6
c = 9


a + b + c

38

В клітинці нижче закоментуйте деякі рядки так, аби в результаті виконання останнього рядка коду (`a + b + c`) вивелось `17`.
Увага! Рядки треба саме закоментувати, а не видалити.
Можна зручно коментувати рядки з допомогою комбінації клавіш `Ctrl + /` (`Command + /` для Mac)

In [19]:
a = 10
# a = 12
# a = 15

b = 4
# b = 8
# b = 14

c = 3
# c = 6
# c = 9


a + b + c

17